:root {
  font: 16px / 1 sans-serif;
}
#root{
  background-image: linear-gradient(to top, #9ABCA7, #71A9F7);
  color:white;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

a {
  &:link,
  &:visited {
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
  }
}

//App
.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: transparent;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  margin: 0;
}

.footer {
  // padding: 1rem;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: transparent;
}

.footer p{
  margin: 5px;
}

.socialLinks img{
  padding: 5px;
}

.nav{
  display: flex;
  text-align: center;
  align-items: center;
}

.nav p{
  margin: auto;
  margin-right: 10px ;
  margin-left: 10px ;
}

.signInButton, .signUpButton{
  margin: 2px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, .25);   
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px black;
}

header .avatar{
  object-fit:contain;
  height: 64px;
}

//Search Page
ul {
  list-style: none;
}

.rightHeader {
  display: flex;
}

.containerSearch {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.titleSearch{
  font-size: 30px;
  margin-bottom: 5px;
  text-shadow: 1px 1px black;
}

.inputSearch{
  padding: 0.5rem;
  // background: transparent;
  border: 1px solid #fff;
  box-shadow: 3px 3px 3px black;
}

.playerResults {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-repeat: no-repeat;
}

.playerResults li {
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/tennisBall.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px black;
  color: black;
}

//Profile Page
.containerProfile {
  padding: 0 0.5rem;
  margin: 0.5rem;
}


.profilePic {
  display: flex;
  justify-content: center;
}

.profileStats {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, .25);   
  border-radius: 20px;
}

.profileStats li {
  padding: 0.5rem;
  
}

.profileMatches{
  padding:0;
}
.profileMatches li {
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, .25);   
}

.profileButton{
  margin: 1px;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, .25);   
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px black;
}

//Sign In
.signInContainer {
  padding: 1rem;
  margin: auto;
  min-height: 100%;
  background-color: rgba(255, 255, 255, .25);   
  border-radius: 20px;
}
label {
  margin-right: 0.5rem;
}



//Sign Up
.signUpContainer {
  padding: 1rem;
  margin: auto;
  min-height: 100%;
  background-color: rgba(255, 255, 255, .25);   
  border-radius: 20px;
}

//Challenge
.challengeContainer {
  padding: 0 0.5rem;
  margin: 0.5rem;
}

//Home Page

.homePage {
  margin-top: 0;
}

.homeTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-bottom: 10%;
}

.titleHome{
  font-size: 30px;
  margin-bottom: 5px;
  text-shadow: 1px 1px black;

}

.homeTop li {
  padding: 0.5rem;   
  padding-top: 0;

}

.logoLightning{
  z-index:2;
  position: relative;
  left: 15%;
}

.logoBall{
  z-index: 1;
  position: relative;
  right: 15%;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}


//Menu
.updateMenu{
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, .25);   
  border-radius: 20px;
}

.titleUpdate{
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px black;
}

.updateButton{
  margin: 1px;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, .25);   
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px black;
}


