@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  font: 24px / 1 sans-serif;
}
#root {
  background-image: linear-gradient(to top, #9abca7, #71a9f7);
  color: white;
  font-family: Bangers;
  text-shadow: 1px 1px black;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

a {
  &:link,
  &:visited {
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
  }
}

//App--------------------------------------
.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: transparent;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  margin: 0;
  font-family: Bangers;
  font-size: larger;
}

.footer {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: transparent;
  font-size: larger;
}

.footer p {
  margin: 5px;
}

.socialLinks img {
  padding: 5px;
}

.nav {
  display: flex;
  text-align: center;
  align-items: center;
}

.nav p {
  margin: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.signInButton,
.signUpButton {
  margin: 2px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px black;
  text-shadow: 1px 1px black;
  font-family: Bangers;
  font-size: large;
  display: flex;
  align-items: center;
}

.signInButton:active {
  background-image: linear-gradient(to top, #9abca7, #71a9f7);
  box-shadow: none;
  transform: translateY(4px);
}

.signUpButton:active {
  background-image: linear-gradient(to top, #9abca7, #71a9f7);
  box-shadow: none;
  transform: translateY(4px);
}
header .avatar {
  object-fit: contain;
  height: 50px;
}

header .avatarPic {
  border-radius: 50%;
  box-shadow: 1px 1px black;
  border: 1px solid white;
}

//Home Page--------------------------------------

.homePage {
  margin-top: 0;
  font-size: larger;
}

.homeTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  // padding-bottom: 10%;
}

.homeBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeBottom li {
  padding: 0.25rem;
}
.homeBottom img {
  border: 2px solid white;
}

.titleHome {
  font-size: 40px;
  margin-bottom: 5px;
  text-shadow: 1px 1px black;
  // font-size: larger;
}

.homeTop li {
  padding: 0.5rem;
  padding-top: 0;
}

.logoLightning {
  z-index: 2;
  position: relative;
  left: 23%;
}

.logoLightning {
  animation: shake 5s;
  // animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0px, -200px) rotate(-45deg);
  }
  10% {
    transform: translate(0px, -200px) rotate(-45deg);
  }
}

.logoBall {
  z-index: 1;
  position: relative;
  right: 23%;
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.joinNow {
  display: flex;
}
//Search Page--------------------------------------
ul {
  list-style: none;
}

.rightHeader {
  display: flex;
}

.containerSearch {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleSearch {
  font-size: 50px;
  margin-bottom: 5px;
  text-shadow: 1px 1px black;
}

.inputSearch {
  padding: 0.5rem;
  border: 1px solid #fff;
  box-shadow: 1px 1px black;
}

.playerResults {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.playerResults li {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.playerResults li p,
h3 {
  margin: 0.25rem;
}

.searchPic {
  border: 1px solid white;
  border-radius: 20%;
  box-shadow: 1px 1px black;
}

//Profile Page--------------------------------------
.containerProfile {
  padding: 0 0.5rem;
  margin: 0.5rem;
}

.profilePic {
  display: flex;
  justify-content: center;
  padding-right: 1rem;
}

.profileTop {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.profileStats li {
  padding: 0.5rem;
}

.profileMatches {
  padding: 0;
}

.profileTitle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profileMatches li {
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.profileAvatar {
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 1px 1px black;
}
//Sign In------------------------------------------
.signInContainer {
  padding: 1rem;
  margin: auto;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
label {
  margin-right: 0.5rem;
}

//Sign Up--------------------------------------
.signUpContainer {
  padding: 1rem;
  margin: auto;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.fileZone {
  padding: 1rem;
  margin-top: 1rem;
  border: 1px white solid;
  width: 100px;
}

//Challenge--------------------------------------
.challengeContainer {
  padding: 0 0.5rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

//Update Menu--------------------------------------
.updateMenu {
  padding: 0 2rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.updateMenu ul {
  padding: 0;
}

.titleUpdate {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px black;
}

.deleteButton {
  margin: 2px;
  padding: 5px 15px;
  background-color: rgba(243, 3, 3, 0.7);
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px black;
  text-shadow: 1px 1px black;
  font-family: Bangers;
  font-size: large;
}

.updateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 500px) {
  .titleHome {
    font-size: 50px;
  }

  .logoBall {
    z-index: 1;
    position: relative;
    right: 15%;
  }
}

@media all and (min-width: 767px) {
  .playerResults {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }
  .profileTop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .profileBottom {
    width: 60%;
  }

  .containerProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homeTop {
    padding: 0 2rem;
  }

  .homeBottom {
    flex-direction: row;
    justify-content: center;
  }

  .searchPage {
    padding: 0 2rem;
  }

  .updateMenu {
    padding: 0 5rem;
  }
}

@media all and (min-width: 900px) {
  .playerResults {
    grid-template-columns: repeat(4, 1fr);
  }
}
