:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

a {
  &:link,
  &:visited {
    color: black;
    text-decoration: none;
  }
}

//App
.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: rgb(183, 214, 251, 0.6);
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

//Search Page
ul {
  list-style: none;
}

.rightHeader {
  display: flex;
}

.containerSearch {
  padding: 0 1rem;
}

.playerResults {
  border: 1px solid black;
}

.playerResults li {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
}

//Profile Page
.containerProfile {
  padding: 0 0.5rem;
  margin: 0.5rem;
}

.profilePic {
  display: flex;
  justify-content: center;
}

.profileStats {
  border: 1px solid black;
  padding: 0.5rem;
}

.profileStats li {
  padding: 0.5rem;
}

.profileMatches {
  border: 1px solid black;
}

.profileMatches li {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
}

//Sign In
.signInContainer {
  padding: 0 0.5rem;
  margin: 0.5rem;
}
label {
  margin-right: 0.5rem;
}

//Sign Up
.signUpContainer {
  padding: 0 0.5rem;
  margin: 0.5rem;
}

//Challenge
.challengeContainer {
  padding: 0 0.5rem;
  margin: 0.5rem;
}

//Home Page
.homePage {
  padding: 1rem;
  border: 1px solid black;
}

.homeTop {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  align-items: center;
  text-align: center;
}

.homeTop li {
  padding: 0.5rem;
}

.homeBottom {
  display: flex;
  align-items: center;
  text-align: center;
}

.homeBottom li {
  padding: 0.5rem;
}
